{% extends "base.html" %}
{% block content %}

<h1>Welcome {{ username }}!</h1>
<br>
<h4>Click <a href='/hit'>here</a> to begin a new HIT.</h4>
<br>
<h4>Click <a href='/logout'>here</a> to logout.</h4>
<br>

<h3>Current database</h3>
<br>
<table style="width:100%">
	<tr>
		<th>image_id</th>
		<th>cluster_id</th>
		<th>group_descriptions</th>
		<th>secret_key</th>
		<th>author_id</th>
	</tr>

{% for post in posts %}
	<tr>
		<td><font size="-2">{{ post.image_id }}</font></td>
		<td><font size="-2">{{ post.cluster_id }}</font></td>
		<td><font size="-2">{{ post.group_descriptions }}</font></td>
		<td><font size="-2">{{ post.secret_key }}</font></td>
		<td><font size="-2">{{ post.author.name }}</font></td>
	</tr>
{% endfor %}
</table>
<br>

{% endblock %}
